# Elastic Beanstalk Configuration
option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.x.x
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    EC2KeyName: success-sprout-key
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '2'
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role

container_commands:
  01_install_dependencies:
    command: "npm install"
  02_build:
    command: "npm run build"